# Google Cloud Project 1
DISCOVERY_PROJECT_ID_1="your-project-id-1"
DISCOVERY_DATA_STORE_ID_1="your-data-store-id-1"
DISCOVERY_LOCATION_1="global"
DISCOVERY_COLLECTION_1="default_collection"
GOOGLE_CLOUD_CREDENTIALS_BASE64="base64-encoded-service-account-key-1"

# Google Cloud Project 2 (failover)
DISCOVERY_PROJECT_ID_2="your-project-id-2"
DISCOVERY_DATA_STORE_ID_2="your-data-store-id-2"
DISCOVERY_LOCATION_2="global"
DISCOVERY_COLLECTION_2="default_collection"
GOOGLE_CLOUD_1_CREDENTIALS_BASE64="base64-encoded-service-account-key-2"
